OPENROUTER_API_KEY=OPENROUTER_API_KEY
OPENROUTER_API_MODEL=google/gemini-3-flash-preview

# Database connection
## Neon
DATABASE_URL="file:./dev.db"
DIRECT_URL="file:./dev.db"

# NextAuth.js configuration
NEXTAUTH_URL="domain-of-page"
NEXTAUTH_SECRET="your-nextauth-secret-key-change-in-production"

# OAuth providers
GOOGLE_CLIENT_ID="your-google-client-id"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="your-google-client-secret"
